<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="list-group-item">
                    <span click.trigger="backReview()"><i data-feather="arrow-left-circle"></i></span>
                    <span click.trigger="saveReview()" style="margin-left:5px;"><i data-feather="save"></i></span>
                </div>
                <form>
                    <div class="form-group" style="margin-top:20px;">
                        <h2>${product.productName}</h2>
                        <!-- <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text" class="form-control" value.bind="product.productName" id="productName"
                                placeholder="Product Name">
                        </div> -->

                        <div class="dont-break-out">
                            <a href="${product.url}">${product.url}</a>
                          
                        </div>
                        <div class="row">

                            <div class="form-group" style="margin-top:10px;">
                                <label for="review">Add Product Review</label>
                                <textarea value.bind="productReview.review" class="form-control" rows="5" cols="40"></textarea>
                                <!-- <label class="btn btn-primary" style="margin-top:10px">
                                    Browse for files&hellip; <input type="file" style="display: none" change.delegate="changeFiles()"
                                        files.bind="files">
                                </label> -->
                            </div>

                            <div>
                                <img src="http://localhost:5000/uploadedFiles/products/${product.productImage.imageName}" target="_blank"
                                    ${review.file.originalFileName}>
                            </div>
                           
                            <div class="col-10">
                                <ul>
                                    <li repeat.for="file of filesToUpload" class="list-group-item">${file.name}<span
                                            click.delegate="removeFile($index)" class="pull-right"></li>
                                </ul>
                            </div>
                        </div>

                        <br>


                        <div class="card" repeat.for="review of products.reviewsArray">
                            <div class="card-body">
                                <div class="row" style="padding:3px;">
                                    <div class="col-3">
                                        <span innerhtml.bind="review.dateCreated | formatDate"></span><br />
                                        ${review.productid.productName} ${review.userid}
                                    </div>

                                    <div class="col-9" style="border-left-style: solid; border-left-width: 1px;">
                                        ${review.review}
                                    </div>

                                </div>
                            </div>
                        </div>
                </form>


            </div>
        </div>

    </div>
</template>